@tailwind base;
@tailwind components;
@tailwind utilities;

/*
transition for theme switch
*/

* {
    transition-property: background-color;
    transition-duration: 200ms;
}

.select-list {
    max-height: 0;
    animation: select-anim 1800ms ease-in-out forwards;
}

.select:hover .select-list {
    display: flex;
    flex-direction: column;
}

@keyframes select-anim {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 50000px;
    }
}


/*
for svg
*/

path {
    stroke: inherit;
}